My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "=messageReceived",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -528,
        -272
      ],
      "id": "71a7c9f5-9844-47a4-b88b-032d6d854c02",
      "name": "Gmail Trigger",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "Sfxm1EbnmWKclDpY",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        960,
        16
      ],
      "id": "de652af4-fb8e-4165-a5bc-fd2a34eebc28",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Ihs66MUcBnCIMvOi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "6f7b990e-47c8-460d-8384-9493dfd374bc",
              "leftValue": "={{ $json.text }}",
              "rightValue": "Low Intent",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1232,
        -208
      ],
      "id": "d36fc3fb-8f22-4d54-9ff8-2ef192e3d6ba",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1bH8JxdMv1etolyg5NRHQVpeXuwf9icAO6RYUD00tADw/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company ",
              "displayName": "Company ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Intent ",
              "displayName": "Intent ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Confidence",
              "displayName": "Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1872,
        -208
      ],
      "id": "87e175f8-e39f-472a-bae3-78f241d608ff",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4wQtEzEaO7sDQ6Oq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -144,
        -192
      ],
      "id": "119774d8-3338-4001-a84d-3f48e5ed0b35",
      "name": "Get a message",
      "webhookId": "289ea355-cd62-4c64-82cd-6cf17ecaf605",
      "alwaysOutputData": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "YOgZJDkj4jxc1HdY",
          "name": "GoogleAuth"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "Your only task is to carefully read the following email text and extract the lead's contact information. The email text is:\n---\n{email_body}\n---\nExtract the following fields: name, email, company, and the core user message.\n\nYou must respond ONLY with a clean JSON object. If a field cannot be found, use a value of null."
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        480,
        -192
      ],
      "id": "6a2ae212-3003-4049-a888-ac9e6da2ab79",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "Ihs66MUcBnCIMvOi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an expert lead qualification assistant. Your only task is to analyze the following message and classify its details such as 'name' 'email' company' 'core user message' 'available time' and mainly the content of message\n\nThe message to analyze is:\n---\n{message_text}\n---\n\nCategorize the message into one of three categories:\n- [cite_start]**High Intent**: The user is ready to buy, asking for pricing, a quote, or scheduling a demo immediately. [cite: 10]\n- [cite_start]**Medium Intent**: The user is interested and wants more information, asking about features, or exploring options. [cite: 11]\n- [cite_start]**Low Intent**: The user is not interested, is trying to unsubscribe, or is clearly spam. [cite: 12]\n\nYou must respond ONLY with a clean JSON object. The JSON object must contain these keys: \"name\",\"email\",\"company\", \"category\" and \"confidence\". The confidence score should be a number between 0.0 and 1.0 .\ncore user message as \"message\" and \nTimestamp.\nTimestamp means available weekdays and include the time as well\nIMPORTANT: Do not markdown formatting like '''json. You response must begin with { and end with}\n\nExample response format:\n{\"category\": \"High Intent\", \"confidence\": 0.95}",
        "messages": {
          "messageValues": [
            {
              "message": "{message_text}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        880,
        -208
      ],
      "id": "a007bb15-3ac4-472f-a11a-715cad7be1d2",
      "name": "Basic LLM Chain",
      "retryOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "=199fbc873b4870d1",
        "message": "Hi \nThanks for reaching out! The best way to see how we can help is to schedule a brief demo with our team. You can book a time that works for you here: [Link to your scheduling page]  Best,  Sender name.",
        "options": {
          "senderName": "",
          "replyToSenderOnly": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1440,
        -112
      ],
      "id": "b75c3e32-a5cd-48c5-a91d-2b6ef740c92b",
      "name": "Reply to a message",
      "webhookId": "fae3fd33-f87e-421c-8a41-32ba03d86d37",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOgZJDkj4jxc1HdY",
          "name": "GoogleAuth"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1ac9c13f-8ecd-42d2-ad11-b65192131d1b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17b407a78698983d00e020a9e3e604f8ac54b193a84641b168fc40dcd1034369"
  },
  "id": "MyPo31XNyCBdElLz",
  "tags": []
}